<div class="container">
  <div class="card">

  <h1>Stupid Coaching</h1>

  <p>Ask your coach anything:</p>
  </div>

  <div class="card">
  <form action="/answer" method="get">
  <input type="text" name="question" value="<%= params[:question] %>">
  <input type="submit" value="Ask!" id="blue-button">
  </form>
  </div>

</div>
